.map_container{
    width:100%;
    height: 400px;
    position: relative;
}
#map {
    height: 100%;
    width:100%;
}
.mapInfoContent{
    max-width: 260px;
    font-size: 12px;
}
.mapInfoContent_t{
    font-size: 14px;
    font-family: "Museo_sans 700", Arial, sans-serif;
}
.mapInfoContent_h{
    margin-top: 10px;
    font-family: "Museo_sans 700", Arial, sans-serif;
}
.mapInfoContent_p{
    margin-top: 10px;
    font-family: "Museo_sans Light", Arial, sans-serif;
}

.registration{
    float: none !important;
}
.form-reg .btn-press{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.form-reg .reg-input input.nomatch{
    border-color:#ff6666;
}